<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
<i class="fa fa-book" aria-hidden="true"></i>
    <h1 class="display-3">Add Account</h1>
    <!-- <p class="lead"></p> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<p id="foot">EDUGO</p>
</body>
</html>
